<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lambda.iith.dashboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:icon="@mipmap/application_icon"
        android:label="IITH DashBoard"
        android:roundIcon="@mipmap/application_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name=".Developer"></activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Timetable.AddCourse"
            android:label="@string/title_activity_add_course"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Alerts" />
        <activity
            android:name=".NoLogin"
            android:label="IITH Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Launch"
            android:label="Dashboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".Cabsharing.CabSharingRegister"
            android:label="@string/title_activity_cab_sharing_register2"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />


        <activity
            android:name=".MainActivity"
            android:label="IITH Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>