<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lambda.iith.dashboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DashBoard"
        android:roundIcon="@mipmap/slice1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".AddCourse"
            android:label="@string/title_activity_add_course"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".SkipLogin"
            android:label="Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">

        </activity>
        <activity
            android:name=".CabSharing"
            android:label="@string/title_activity_cab_sharing1"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_cab_sharing1"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Main3Activity" />
        <activity
            android:name=".CabSharingRegister"
            android:label="@string/title_activity_cab_sharing_register2"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>